            <div class="doc">
<%- if doc.title.present? -%>
              <h2 class="title"><%= link_to doc.title, doc %></h2>
<%- end -%>
              <div class="body"><%= textilize doc.body  %></div>
              <div class="footer">
                <div class="time created_at">
                  <%= t('Created at') %> <%= link_to l(doc.created_at, :format => :long), doc %>
                </div>
                <div class="time updated_at">
                  <%= t('Updated at') %> <%= link_to l(doc.updated_at, :format => :long), doc %>
                </div>
<%- if logged_in? -%>
                <div class="edit"><%= link_to t('Edit'), edit_doc_path(doc) %></div>
                <div class="delete">
                  <%= link_to t('Delete'), doc, :confirm => t('Are you sure?'), :method => :delete %>
                </div>
<%- end -%>
                <div class="hatena-bookmark-count">
                  <img src="http://b.hatena.ne.jp/entry/image/normal/<%= doc_url(doc) %>" />
                </div>
                <div class="hatena-bookmark-add">
                  <a href="http://b.hatena.ne.jp/entry/<%= doc_url(doc) %>">
                    <img src="http://d.hatena.ne.jp/images/b_entry.gif" width="16" height="12" style="border: none;" alt="このエントリーを含むはてなブックマーク" title="このエントリーを含むはてなブックマーク" />
                  </a>
                </div>
              </div>
            </div>
