    <div class="user">
      <% form_for @user, :url => user_path, :method => 'put' do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :login, t('activerecord.attributes.user.login'), :class => 'label' %><br />
          <%= f.text_field :login, :class => 'text_field' %>
        </p>
        <p>
          <%= f.label :password, t('activerecord.attributes.user.password'), :class => 'label' %><br />
          <%= f.text_field :password, :class => 'text_field' %>
        </p>
        <p>
          <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), :class => 'label' %><br />
          <%= f.text_field :password_confirmation, :class => 'text_field' %>
        </p>
        <p>
          <%= f.label :profile, t('activerecord.attributes.user.profile'), :class => 'label' %><br />
          <%= f.text_area :profile, :class => 'text_area_mini' %>
        </p>
        <p>
          <%= f.submit t('Update') %>
        </p>
      <% end %>
    </div>
