      <div class="user">
        <%= error_messages_for :user %>
        <% form_for @user, :url => user_path do |f| %>
          <p>
            <%= f.label 'login', t('activerecord.attributes.user.login'), :class => 'label' %><br/>
            <%= f.text_field :login, :class => 'text_field' %>
          </p>

          <p>
            <%= f.label 'password', t('activerecord.attributes.user.password'), :class => 'label' %><br/>
            <%= f.password_field :password, :class => 'text_field' %>
          </p>

          <p>
            <%= f.label 'password_confirmation', t('activerecord.attributes.user.password_confirmation'), :class => 'label' %><br/>
            <%= f.password_field :password_confirmation, :class => 'text_field' %>
          </p>

          <p><%= submit_tag t('Update') %></p>
        <% end %>
      </div>
