- content_for :head do
  = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui', :media => 'screen'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'
- form_for @doc do |f|
  = f.error_messages
  %p
    = f.label :title, 'Title', :class => 'label'
    %br
    = f.text_field :title, :class => 'text_field'
  %p
    = f.label :body, 'Body', :class => 'label'
    %br
    = f.text_area :body, :class => 'text_area'
  %p
    = f.label :created_at, 'Posted at', :class => 'label'
    %br
    = f.text_field :created_at, :class => 'text_field_small'
  %p
    = f.label :updated_at, 'Updated at', :class => 'label'
    %br
    = f.text_field :updated_at, :class => 'text_field_small'
    %br
  %p
    = f.submit submit_label
= focus 'doc_title'
