- content_for :title do
  - if params[:q].present?
    = "Search “#{params[:q]}” in #{Application::TITLE}"
  - else
    = Application::TITLE
.docs.autopagerize_page_element
  = render :partial => "doc", :collection => @docs
  = paginate @docs
  .autopagerize_insert_before
