    <div class="setting">
      <% form_for @setting, :url => setting_path, :method => 'put' do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :title, t('activerecord.attributes.setting.title'), :class => 'label' %><br />
          <%= f.text_field :title, :class => 'text_field' %>
        </p>
        <p>
          <%= f.label :description, t('activerecord.attributes.setting.description'), :class => 'label' %><br />
          <%= f.text_area :description, :class => 'text_area_mini' %>
        </p>
        <p>
          <%= f.submit submit_label %> <span class="export"><%= link_to t('All data export'), formatted_docs_path(:format => :csv, :per_page => 100) %></span>
        </p>
      <% end %>
    </div>
