<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%=h @head_title %></title>
    <%= meta_description @meta_description %>
    <%= meta_keywords @meta_keywords %>
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes 'blue', :locale => 'ja' %>
    <%= auto_discovery_link_tag :atom, docs_url(:format => 'atom') , {:title => @title} %>
<%- if params[:query].present? -%>
    <%= auto_discovery_link_tag :atom, find_doc_url(:q => params[:q], :format => 'atom'), {:title => @head_title} %>
<%- end -%>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= stylesheet_link_tag "#{@stylesheets_path}/application" %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title"><%= link_to @title, root_path %></h1>
        <div class="description"><%= @description %></div>
      </div>
      <ul class="menu">
<%- if logged_in? -%>
        <li><%= link_to t('New doc'), new_doc_path %></li>
        <li><%= link_to t('Setting'), edit_setting_path %></li>
        <li><%= link_to t('Account'), edit_user_path %></li>
        <li><%= link_to t('Logout'), logout_path %></li>
<%- else -%>
        <li><%= link_to t('Login'), login_path %></li>
<%- end -%>
      </ul>
      <div class="content clearfix">
        <div class="main">
<%= yield %>
        </div>

        <div class="menu">
          <h2><%= t('Search') %></h2>
          <div class="finder block">
            <% form_tag find_doc_path, :method => 'get' do %>
              <%= text_field_tag 'q', '', :class => 'query' %>
              <input type="submit" value="<%= t('Search') %>" />
            <% end %>
          </div>

          <h2><%= t('Profile') %></h2>
          <div class="block clearfix">
            <a href="http://komagata.org"><img src="<%= @images_path %>/face.jpg" class="photo" />komagata</a><br />
            酸素を取り込んで活動するシアノバクテリアの一種です。
          </div>

          <h2><%= t('Popular') %></h2>
          <div class="block clearfix">
            <script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
            <script language="javascript" type="text/javascript">
              Hatena.BookmarkWidget.url   = "http://docs.komagata.org/";
              Hatena.BookmarkWidget.title = "人気エントリー";
              Hatena.BookmarkWidget.sort  = "count";
              Hatena.BookmarkWidget.width = 0;
              Hatena.BookmarkWidget.num   = 10;
              Hatena.BookmarkWidget.theme = "notheme";
              Hatena.BookmarkWidget.load();
            </script>
          </div>
        </div>
      </div>
      <br style="clear:both" />
      <div class="footer">
        writing by <%= @setting.user.name %>
      </div>
    </div>
<%= render :file => 'shared/analytics' if Rails.env.production? %>
  </body>
</html>
