- title_content = yield :title
- head_content = yield :head
!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ja", :lang => "ja"}
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", "content" => "text/css"}
    %meta{"http-equiv" => "Content-Script-Type", "content" => "text/javascript"}
    %meta{"name" => "verify-v1", "content" => "+V1YA6UjlGAm1pJpxJFrPARQPzw8KexXsbdbJYcjRZw="}
    %meta{"name" => "y_key", "content" => "82ad872ae8a41dc8"}
    %meta{"name" => "description", "content" => Application::DESCRIPTION}
    %meta{"name" => "keywords", "content" => Application::KEYWORDS}
    %title= title_content || Application::TITLE
    = auto_discovery_link_tag :atom, "/index.atom", {:title => Application::TITLE}
    - if params[:query].present?
      = auto_discovery_link_tag :atom, find_doc_url(:q => params[:q], :format => "atom"), {:title => Application::TITLE}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/sitemap.xml", :rel => "alternate", :title => Application::TITLE, :type => "application/rss+xml"}
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/prettify.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/javascripts/prettify.js", :type => "text/javascript"}
    - if head_content
      = head_content
  %body{:onload => "prettyPrint()"}
    %ul#nav
      %li= link_to "Profile", "/4138"
      %li= link_to "New Doc", new_doc_path
      %li.finder
        %form{:action => "/", :method => "get"}
          %input{:type => "text", :name => "q", :size => "14"}
    #header
      %h1.title= link_to Application::TITLE, root_path
      .description= Application::DESCRIPTION
    #content.clearfix
      #main.clearfix
        = yield
      #sub.clearfix
        .section
          %h2= link_to 'Help me, hackers!', 'http://help-me-hackers.com/'
          .description 報酬付き公開BTS
        .section
          %h2= link_to 'Ham Cutlet', 'http://hamcutlet.fjord.jp/'
          .description HTMLのインデントを綺麗にする
        .section
          %h2= link_to 'コードDJ', 'http://fjord.jp/tag/code-dj'
          .description 毎週火曜コードの中身を紹介
        .section
          %h2= link_to '大東亜戦争従軍記', 'http://war.komagata.org/'
          .description 祖父が残した戦争手記
        .section
          %h2= link_to 'FJORD, LLC', 'http://fjord.jp/'
          .description 素敵なアプリを作ります
        .section
          %h2= link_to 'Github', 'http://github.com/komagata'
          .description My Codes
        .section
          %h2= link_to '@komagata', 'http://twitter.com/komagata'
          .description My Twitter
    %br{:style => "clear:both"}
    #footer
      writing by 
      = link_to Application::AUTHOR, "http://komagata.org"
  - if Rails.env.production?
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-107252-9");
        pageTracker._trackPageview();
      } catch(err) {}
