- title_content = yield :title
- head_content = yield :head
!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ja", :lang => "ja"}
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", "content" => "text/css"}
    %meta{"http-equiv" => "Content-Script-Type", "content" => "text/javascript"}
    %meta{"name" => "verify-v1", "content" => "+V1YA6UjlGAm1pJpxJFrPARQPzw8KexXsbdbJYcjRZw="}
    %meta{"name" => "y_key", "content" => "82ad872ae8a41dc8"}
    %meta{"name" => "description", "content" => Application::DESCRIPTION}
    %meta{"name" => "keywords", "content" => Application::KEYWORDS}
    %meta{"name" => "viewport", "content" => "width=device-width; initial-scale=1.0;"}
    %title= title_content || Application::TITLE
    = auto_discovery_link_tag :atom, "/index.atom", {:title => Application::TITLE}
    - if params[:query].present?
      = auto_discovery_link_tag :atom, find_doc_url(:q => params[:q], :format => "atom"), {:title => Application::TITLE}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/sitemap.xml", :rel => "alternate", :title => Application::TITLE, :type => "application/rss+xml"}
    = stylesheet_link_tag "application"
    - if head_content
      = head_content
  %body
    .header
      %h1.title= link_to Application::TITLE, root_path
      .description= Application::DESCRIPTION
    %ul.menu
      %li= link_to "Profile", "/4138"
      %li= link_to "New Doc", new_doc_path
      %li.finder
        %form{:action => "/", :method => "get"}
          = text_field_tag "q", "", :class => "query"
    .content.clearfix
      = yield
    %br{:style => "clear:both"}
    .footer
      writing by 
      = link_to Application::AUTHOR, "http://komagata.org"
  - if Rails.env.production?
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-107252-9");
        pageTracker._trackPageview();
      } catch(err) {}
