<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%=h @head_title %></title>
    <%= meta_description @meta_description %>
    <%= meta_keywords @meta_keywords %>
    <%= auto_discovery_link_tag :atom, formatted_docs_url(:atom), {:title => @title} %>
<%- unless params[:query].blank? -%>
    <%= auto_discovery_link_tag :atom, formatted_find_url(:atom, :query => params[:query]), {:title => @head_title} %>
<%- end -%>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title"><%= link_to @title, root_path %></h1>
        <div class="description"><%= @description %></div>
      </div>
      <ul class="menu">
        <li><%= link_to t('New doc'), new_doc_path %></li>
        <li><%= link_to t('Setting'), edit_setting_path %></li>
        <li><%= link_to t('Account'), edit_user_path %></li>
        <li class="finder">
          <% form_tag find_path, :method => 'get' do %>
            <%= text_field_tag 'query', '', :class => 'query' %>
            <input type="submit" value="<%= t('Search') %>" />
          <% end %>
        </li>
      </ul>
      <div class="body clearfix">
        <div class="main">
<%= yield %>
        </div>
      </div>
      <div class="footer">
        writing by <%= @setting.user.name %>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-107252-9");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</html>
