<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%=h @head_title %></title>
    <%= meta_description @meta_description %>
    <%= meta_keywords @meta_keywords %>
    <%= auto_discovery_link_tag :atom, formatted_docs_url(:atom), {:title => @title} %>
<%- unless params[:query].blank? -%>
    <%= auto_discovery_link_tag :atom, formatted_find_url(:atom, :q => params[:q]), {:title => @head_title} %>
<%- end -%>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title"><%= link_to @title, root_path %></h1>
        <div class="description"><%= @description %></div>
      </div>
      <ul class="menu">
<%- if logged_in? -%>
        <li><%= link_to t('New doc'), new_doc_path %></li>
        <li><%= link_to t('Setting'), edit_setting_path %></li>
        <li><%= link_to t('Account'), edit_user_path %></li>
        <li><%= link_to t('Logout'), logout_path %></li>
<%- else -%>
        <li><%= link_to t('Login'), login_path %></li>
<%- end -%>
        <li class="finder">
          <% form_tag find_path, :method => 'get' do %>
            <%= text_field_tag 'q', '', :class => 'query' %>
            <input type="submit" value="<%= t('Search') %>" />
          <% end %>
        </li>
      </ul>
      <div class="content clearfix">
        <div class="main">
<%= yield %>
        </div>

<a href="http://www.flickr.com/photos/komagata/3125731768/" title="me by komagata, on Flickr" class="profile_photos"></a>

        <div class="menu">
          <h2>プロフィール</h2>
          <div class="block clearfix">
            <img src="http://farm4.static.flickr.com/3237/3125731768_1581b068da_t.jpg" class="photo" />
            駒形真幸(komagata)<br />
            酸素を取り込んで活動するシアノバクテリアの一種です。<br />
            <a href="http://komagata.org/">詳細はこちら</a>
          </div>

          <h2>人気のページ</h2>
          <div class="block">
            <ul>
              <li><%= link_to 'ヤバイPHPアプリケーションを嗅ぎ分ける７つのポイント', doc_path(3952) %></li>
              <li><%= link_to '1クリックで開発環境を開く方法', doc_path(2081) %></li>
              <li><%= link_to 'pprompt.js', doc_path(2134) %></li>
              <li><%= link_to '従軍記のブログ化', doc_path(2598) %></li>
              <li><%= link_to 'GU（ガチ鬱）', doc_path(2673) %></li>
              <li><%= link_to 'php-mode', doc_path(860) %></li>
              <li><%= link_to 'さくらの専用サーバーエントリープランが良かった６つの理由（＋嫌な点３つ）', doc_path(3962) %></li>
              <li><%= link_to 'WordPressに見るオープンソースWebアプリに向いた設計とは', doc_path(2815) %></li>
              <li><%= link_to 'ITベンチャー勝ち組セット', doc_path(4017) %></li>
            </ul>
          </div>

          <h2>人気のカテゴリー</h2>
          <div class="block">
            <ul>
              <li><%= link_to 'PHP', find_path(:q => 'PHP') %></li>
              <li><%= link_to 'Rails', find_path(:q => 'Rails') %></li>
              <li><%= link_to 'Ruby', find_path(:q => 'Ruby') %></li>
              <li><%= link_to 'Smarty', find_path(:q => 'Smarty') %></li>
              <li><%= link_to 'GoogleMap', find_path(:q => 'GoogleMap') %></li>
              <li><%= link_to 'ImageMagick', find_path(:q => 'ImageMagick') %></li>
              <li><%= link_to 'UNIX', find_path(:q => 'UNIX') %></li>
            </ul>
          </div>

          <h2>最近の動き</h2>
          <div class="block">
            <script type="text/javascript" src="http://friendfeed.com/embed/widget/komagata?v=2&amp;hide_logo=1&amp;hide_subscribe=1"></script>
          </div>

          <h2>Powered by</h2>
          <div class="block">
            <a href="http://github.com/komagata/cloister/tree/master">Cloister</a>
          </div>

        </div>
      </div>
      <br style="clear:both" />
      <div class="footer">
        writing by <%= @setting.user.name %>
      </div>
    </div>
<%= render :file => 'shared/analytics' if Rails.env == 'production'%>
  </body>
</html>
